<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Brandbank.Xml" version="0.1.5" targetFramework="net472" />
  <package id="Brandbank.Xml.Logging" version="0.1.5" targetFramework="net472" />
  <package id="Brandbank.Xml.Validation" version="0.1.6" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net472" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net472" />
  <package id="Syroot.Windows.IO.KnownFolders" version="1.3.0" targetFramework="net472" />
  <package id="System.Security.Claims" version="4.0.1" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="4.0.0" targetFramework="net472" />
</packages>